USE [PM_BanLinhKienPC]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [nvarchar](50) NOT NULL,
	[TenCV] [nvarchar](50) NOT NULL,
	[NhanVien] [bit] NULL,
	[KhachHang] [bit] NULL,
	[LinhKien] [bit] NULL,
	[BanHang] [bit] NULL,
	[NhaCungCap] [bit] NULL,
	[LoaiLK] [bit] NULL,
	[NhapKho] [bit] NULL,
	[BaoHanh] [bit] NULL,
	[PhanQuyen] [bit] NULL,
	[ThongKe] [bit] NULL,
	[HoaDon] [bit] NULL,
	[Setting] [bit] NULL,
	[TrangThai] [nchar](10) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HoaDonBanHang]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDonBanHang](
	[MaHDBH] [nvarchar](50) NOT NULL,
	[MaLK] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](28, 0) NULL,
	[KhuyenMai] [decimal](28, 0) NULL,
	[ThanhTien] [decimal](28, 0) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TrangThaiTToan] [nvarchar](50) NULL,
	[TrangThaiVChuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT_HoaDonBanHang] PRIMARY KEY CLUSTERED 
(
	[MaHDBH] ASC,
	[MaLK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HoaDonNhapHang]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDonNhapHang](
	[MaHDNH] [nvarchar](50) NOT NULL,
	[MaLK] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](28, 0) NULL,
	[KhuyenMai] [decimal](28, 0) NULL,
	[ThanhTien] [decimal](28, 0) NULL,
	[TrangThai] [nchar](10) NULL,
 CONSTRAINT [PK_CT_HoaDonNhapHang] PRIMARY KEY CLUSTERED 
(
	[MaHDNH] ASC,
	[MaLK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[IDCus] [int] IDENTITY(1,1) NOT NULL,
	[CodeCus] [int] NOT NULL,
	[Email_Cus] [nvarchar](50) NULL,
	[Address_Cus] [nvarchar](50) NULL,
	[Phone_Cus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeCus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBanHang]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBanHang](
	[MaHDBH] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[NgayLapHDBH] [datetime] NULL,
	[TongTien] [decimal](28, 0) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HoaDonBanHang] PRIMARY KEY CLUSTERED 
(
	[MaHDBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhapHang]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhapHang](
	[MaHDNH] [nvarchar](50) NOT NULL,
	[MaNCC] [nvarchar](50) NOT NULL,
	[MaNV] [nvarchar](50) NOT NULL,
	[NgayLapHDNH] [datetime] NULL,
	[TongTien] [decimal](28, 0) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HoaDonNhapHang] PRIMARY KEY CLUSTERED 
(
	[MaHDNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[DienThoai] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LinhKien]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhKien](
	[MaLK] [nvarchar](50) NOT NULL,
	[MaLLK] [nvarchar](50) NOT NULL,
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenLK] [nvarchar](max) NULL,
	[BaoHanh] [nvarchar](50) NOT NULL,
	[XuatXu] [nvarchar](50) NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[DonGia] [int] NULL,
	[SoLuongTon] [int] NOT NULL,
	[KhuyenMai] [int] NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LinhKien] PRIMARY KEY CLUSTERED 
(
	[MaLK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiLinhKien]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiLinhKien](
	[MaLLK] [nvarchar](50) NOT NULL,
	[TenLLK] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiLinhKien] PRIMARY KEY CLUSTERED 
(
	[MaLLK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[MaCV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[DienThoai] [nvarchar](50) NULL,
	[CMND] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[UserName] [nvarchar](50) NULL,
	[PassWord] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNSX] [nvarchar](50) NOT NULL,
	[TenNSX] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhaSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDOrder] [int] NULL,
	[MaLK] [nvarchar](50) NULL,
	[UnitPriceSale] [decimal](18, 0) NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/4/2022 16:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IDOrder] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NULL,
	[CodeCus] [int] NULL,
	[Descriptions] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChucVu] ([MaCV], [TenCV], [NhanVien], [KhachHang], [LinhKien], [BanHang], [NhaCungCap], [LoaiLK], [NhapKho], [BaoHanh], [PhanQuyen], [ThongKe], [HoaDon], [Setting], [TrangThai]) VALUES (N'CV01', N'Nhân Viên Quản Trị', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, N'True      ')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV], [NhanVien], [KhachHang], [LinhKien], [BanHang], [NhaCungCap], [LoaiLK], [NhapKho], [BaoHanh], [PhanQuyen], [ThongKe], [HoaDon], [Setting], [TrangThai]) VALUES (N'CV02', N'Kế Toán', 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, N'1         ')
INSERT [dbo].[ChucVu] ([MaCV], [TenCV], [NhanVien], [KhachHang], [LinhKien], [BanHang], [NhaCungCap], [LoaiLK], [NhapKho], [BaoHanh], [PhanQuyen], [ThongKe], [HoaDon], [Setting], [TrangThai]) VALUES (N'CV03', N'Nhân Viên Kỹ Thuật', 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, N'1         ')
GO
INSERT [dbo].[CT_HoaDonBanHang] ([MaHDBH], [MaLK], [SoLuong], [DonGia], [KhuyenMai], [ThanhTien], [TrangThai], [TrangThaiTToan], [TrangThaiVChuyen]) VALUES (N'HDB00', N'LK21', 1, CAST(3000000 AS Decimal(28, 0)), CAST(0 AS Decimal(28, 0)), CAST(3000000 AS Decimal(28, 0)), N'1', N'Đã Thanh Toán', N'Đang chuyển')
INSERT [dbo].[CT_HoaDonBanHang] ([MaHDBH], [MaLK], [SoLuong], [DonGia], [KhuyenMai], [ThanhTien], [TrangThai], [TrangThaiTToan], [TrangThaiVChuyen]) VALUES (N'HDB01', N'LK14', 1, CAST(250000 AS Decimal(28, 0)), CAST(0 AS Decimal(28, 0)), CAST(250000 AS Decimal(28, 0)), N'1', N'Đã Thanh Toán', N'Đang chuyển')
INSERT [dbo].[CT_HoaDonBanHang] ([MaHDBH], [MaLK], [SoLuong], [DonGia], [KhuyenMai], [ThanhTien], [TrangThai], [TrangThaiTToan], [TrangThaiVChuyen]) VALUES (N'HDB02', N'LK10', 1, CAST(150000 AS Decimal(28, 0)), CAST(0 AS Decimal(28, 0)), CAST(150000 AS Decimal(28, 0)), N'1', N'Đã Thanh Toán', N'Đang chuyển')
GO
INSERT [dbo].[CT_HoaDonNhapHang] ([MaHDNH], [MaLK], [SoLuong], [DonGia], [KhuyenMai], [ThanhTien], [TrangThai]) VALUES (N'HDN00', N'LK04', 10, CAST(9000000 AS Decimal(28, 0)), CAST(0 AS Decimal(28, 0)), CAST(90000000 AS Decimal(28, 0)), N'1         ')
INSERT [dbo].[CT_HoaDonNhapHang] ([MaHDNH], [MaLK], [SoLuong], [DonGia], [KhuyenMai], [ThanhTien], [TrangThai]) VALUES (N'HDN01', N'LK30', 5, CAST(9000000 AS Decimal(28, 0)), CAST(5 AS Decimal(28, 0)), CAST(42750000 AS Decimal(28, 0)), N'1         ')
INSERT [dbo].[CT_HoaDonNhapHang] ([MaHDNH], [MaLK], [SoLuong], [DonGia], [KhuyenMai], [ThanhTien], [TrangThai]) VALUES (N'HDN02', N'LK30', 7, CAST(2000000 AS Decimal(28, 0)), CAST(0 AS Decimal(28, 0)), CAST(14000000 AS Decimal(28, 0)), N'1         ')
GO
INSERT [dbo].[HoaDonBanHang] ([MaHDBH], [MaKH], [MaNV], [NgayLapHDBH], [TongTien], [TrangThai]) VALUES (N'HDB00', N'KH00', N'NV00', CAST(N'2022-01-04T13:08:35.000' AS DateTime), CAST(3000000 AS Decimal(28, 0)), N'1')
INSERT [dbo].[HoaDonBanHang] ([MaHDBH], [MaKH], [MaNV], [NgayLapHDBH], [TongTien], [TrangThai]) VALUES (N'HDB01', N'KH00', N'NV00', CAST(N'2022-01-04T13:52:58.000' AS DateTime), CAST(250000 AS Decimal(28, 0)), N'1')
INSERT [dbo].[HoaDonBanHang] ([MaHDBH], [MaKH], [MaNV], [NgayLapHDBH], [TongTien], [TrangThai]) VALUES (N'HDB02', N'KH00', N'NV00', CAST(N'2022-01-04T15:42:20.000' AS DateTime), CAST(12150000 AS Decimal(28, 0)), N'1')
GO
INSERT [dbo].[HoaDonNhapHang] ([MaHDNH], [MaNCC], [MaNV], [NgayLapHDNH], [TongTien], [TrangThai]) VALUES (N'HDN00', N'NCC02', N'NV00', CAST(N'2022-01-04T00:00:00.000' AS DateTime), CAST(90000000 AS Decimal(28, 0)), N'1')
INSERT [dbo].[HoaDonNhapHang] ([MaHDNH], [MaNCC], [MaNV], [NgayLapHDNH], [TongTien], [TrangThai]) VALUES (N'HDN01', N'NCC02', N'NV02', CAST(N'2022-01-04T00:00:00.000' AS DateTime), CAST(42750000 AS Decimal(28, 0)), N'1')
INSERT [dbo].[HoaDonNhapHang] ([MaHDNH], [MaNCC], [MaNV], [NgayLapHDNH], [TongTien], [TrangThai]) VALUES (N'HDN02', N'NCC02', N'NV02', CAST(N'2022-01-04T00:00:00.000' AS DateTime), CAST(14000000 AS Decimal(28, 0)), N'1')
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh], [DienThoai], [DiaChi], [TrangThai]) VALUES (N'KH00', N'Nguyễn Hùng Anh', N'Nam', N'0123456789', N'Bến Tre', N'1')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh], [DienThoai], [DiaChi], [TrangThai]) VALUES (N'KH01', N'Hoàng Phúc', N'Nam', N'0912567215', N'Tp.HCM, Gò Vấp, 11/22/33/44', N'1')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh], [DienThoai], [DiaChi], [TrangThai]) VALUES (N'KH02', N'Đặng Hoàng Dinh', N'Nam', N'0922861245', N'Khánh Hò', N'1')
GO
INSERT [dbo].[LinhKien] ([MaLK], [MaLLK], [MaNCC], [TenLK], [BaoHanh], [XuatXu], [TinhTrang], [DonViTinh], [DonGia], [SoLuongTon], [KhuyenMai], [HinhAnh], [TrangThai]) VALUES (N'LK00', N'LLK12', N'NCC00', N'Nguồn máy tính Antec Atom B550', N'24 Tháng', N'Thái Lan', N'Mới', N'Cái', 1500000, 50, 0, N'atom-b550.jpg', N'1')
INSERT [dbo].[LinhKien] ([MaLK], [MaLLK], [MaNCC], [TenLK], [BaoHanh], [XuatXu], [TinhTrang], [DonViTinh], [DonGia], [SoLuongTon], [KhuyenMai], [HinhAnh], [TrangThai]) VALUES (N'LK01', N'LLK03', N'NCC00', N'RAM Corsair Vengeance LPX 8GB DDR4 DRAM 2666MHz', N'24 Tháng', N'Thái Lan', N'Mới', N'Cái', 1000000, 30, 0, N'ram-corsair-vengeance-lpx-16gb-ddr4-2666mhz-c16-black.png', N'1')
INSERT [dbo].[LinhKien] ([MaLK], [MaLLK], [MaNCC], [TenLK], [BaoHanh], [XuatXu], [TinhTrang], [DonViTinh], [DonGia], [SoLuongTon], [KhuyenMai], [HinhAnh], [TrangThai]) VALUES (N'LK02', N'LLK03', N'NCC00', N'Ram Kingston 16GB DDR4 ECC REG', N'24 Tháng', N'Trung Quốc', N'Mới', N'Cái', 2500000, 30, 0, N'ram-kingston.jpg', N'1')
GO
INSERT [dbo].[LoaiLinhKien] ([MaLLK], [TenLLK], [TrangThai]) VALUES (N'LLK00', N'Chuột', N'1')
INSERT [dbo].[LoaiLinhKien] ([MaLLK], [TenLLK], [TrangThai]) VALUES (N'LLK01', N'Bàn Phím', N'1')
INSERT [dbo].[LoaiLinhKien] ([MaLLK], [TenLLK], [TrangThai]) VALUES (N'LLK02', N'Loa', N'1')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Email], [TrangThai]) VALUES (N'NCC00', N'ADDA VIET NAM - Công Ty TNHH Công Nghệ AX FAN', N'Lô 11, Khu Công Nghiệp Cẩm Điền, Lương Điền, Xã Cẩm Điền, Huyện Cẩm Giàng,Hải Dương', N'(0220) 3777168', N'patrick_chang@adda.com.tw', N'1')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Email], [TrangThai]) VALUES (N'NCC01', N'Intel', N'KCNC Q9, TPHCM', N'0386437634', N'intel.com.vn', N'1')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [Email], [TrangThai]) VALUES (N'NCC02', N'Công Ty TNHH Tin Học Thành Nhân', N'174-180 Bùi Thị Xuân, P. Phạm Ngũ Lão, Q. 1,Tp. Hồ Chí Minh (TPHCM)', N'(028) 39250295', N'thanhnhan@tnc.com.vn', N'1')
GO
INSERT [dbo].[NhanVien] ([MaNV], [MaCV], [TenNV], [GioiTinh], [Email], [NgaySinh], [DienThoai], [CMND], [DiaChi], [HinhAnh], [UserName], [PassWord], [TrangThai]) VALUES (N'NV00', N'CV01', N'Nguyễn Quốc Trung', N'Nam', N'nguyenquoctrung579@gmail.com', CAST(N'2021-11-08T00:00:00.000' AS DateTime), N'0373933507', N'12345678910', N'Lộc Điền, Lộc Ninh, Bình Phước', N'3461cef78f927ccc2583.jpg', N'admin', N'E10ADC3949BA59ABBE56E057F20F883E', N'1')
INSERT [dbo].[NhanVien] ([MaNV], [MaCV], [TenNV], [GioiTinh], [Email], [NgaySinh], [DienThoai], [CMND], [DiaChi], [HinhAnh], [UserName], [PassWord], [TrangThai]) VALUES (N'NV01', N'CV01', N'Lê Thiện Thanh Tâm', N'Nam', N'letam7677@gmail.com', CAST(N'2021-11-08T00:00:00.000' AS DateTime), N'0343754517', N'12345', N'Bào Mây, Tân Phú, Đồng Nai', N'3461cef78f927ccc2583.jpg', N'admin2', N'E10ADC3949BA59ABBE56E057F20F883E', N'0')
INSERT [dbo].[NhanVien] ([MaNV], [MaCV], [TenNV], [GioiTinh], [Email], [NgaySinh], [DienThoai], [CMND], [DiaChi], [HinhAnh], [UserName], [PassWord], [TrangThai]) VALUES (N'NV02', N'CV01', N'Lê Thiện Thanh Tâm', N'Nam', N'letam7677@gmail.com', CAST(N'2001-04-26T00:00:00.000' AS DateTime), N'0921685611', N'02154872145', N'TP.HCM, Q12, Tân Thới Nhất, Phan Văn Hớn', N'', N'admin3', N'E10ADC3949BA59ABBE56E057F20F883E', N'1')
GO
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [DiaChi], [TrangThai]) VALUES (N'NSX01', N'PSC', N'65 Huỳnh Thúc Kháng', N'1')
GO
ALTER TABLE [dbo].[CT_HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK__CT_HoaDon__MAHDB__7B5B524B] FOREIGN KEY([MaHDBH])
REFERENCES [dbo].[HoaDonBanHang] ([MaHDBH])
GO
ALTER TABLE [dbo].[CT_HoaDonBanHang] CHECK CONSTRAINT [FK__CT_HoaDon__MAHDB__7B5B524B]
GO
ALTER TABLE [dbo].[CT_HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK__CT_HoaDonB__MALK__7C4F7684] FOREIGN KEY([MaLK])
REFERENCES [dbo].[LinhKien] ([MaLK])
GO
ALTER TABLE [dbo].[CT_HoaDonBanHang] CHECK CONSTRAINT [FK__CT_HoaDonB__MALK__7C4F7684]
GO
ALTER TABLE [dbo].[CT_HoaDonNhapHang]  WITH CHECK ADD  CONSTRAINT [FK__CT_HoaDon__MAHDN__7E37BEF6] FOREIGN KEY([MaHDNH])
REFERENCES [dbo].[HoaDonNhapHang] ([MaHDNH])
GO
ALTER TABLE [dbo].[CT_HoaDonNhapHang] CHECK CONSTRAINT [FK__CT_HoaDon__MAHDN__7E37BEF6]
GO
ALTER TABLE [dbo].[CT_HoaDonNhapHang]  WITH CHECK ADD  CONSTRAINT [FK__CT_HoaDonN__MALK__7D439ABD] FOREIGN KEY([MaLK])
REFERENCES [dbo].[LinhKien] ([MaLK])
GO
ALTER TABLE [dbo].[CT_HoaDonNhapHang] CHECK CONSTRAINT [FK__CT_HoaDonN__MALK__7D439ABD]
GO
ALTER TABLE [dbo].[HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK__HoaDonBanH__MAKH__778AC167] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDonBanHang] CHECK CONSTRAINT [FK__HoaDonBanH__MAKH__778AC167]
GO
ALTER TABLE [dbo].[HoaDonBanHang]  WITH CHECK ADD  CONSTRAINT [FK__HoaDonBanH__MANV__76969D2E] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonBanHang] CHECK CONSTRAINT [FK__HoaDonBanH__MANV__76969D2E]
GO
ALTER TABLE [dbo].[HoaDonNhapHang]  WITH CHECK ADD  CONSTRAINT [FK__HoaDonNha__MANHA__73BA3083] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HoaDonNhapHang] CHECK CONSTRAINT [FK__HoaDonNha__MANHA__73BA3083]
GO
ALTER TABLE [dbo].[HoaDonNhapHang]  WITH CHECK ADD  CONSTRAINT [FK__HoaDonNhap__MANV__72C60C4A] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonNhapHang] CHECK CONSTRAINT [FK__HoaDonNhap__MANV__72C60C4A]
GO
ALTER TABLE [dbo].[LinhKien]  WITH CHECK ADD  CONSTRAINT [FK__LinhKien__MALOAI__74AE54BC] FOREIGN KEY([MaLLK])
REFERENCES [dbo].[LoaiLinhKien] ([MaLLK])
GO
ALTER TABLE [dbo].[LinhKien] CHECK CONSTRAINT [FK__LinhKien__MALOAI__74AE54BC]
GO
ALTER TABLE [dbo].[LinhKien]  WITH CHECK ADD  CONSTRAINT [FK_MANCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[LinhKien] CHECK CONSTRAINT [FK_MANCC]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK__NhanVien__MACV__71D1E811] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK__NhanVien__MACV__71D1E811]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([IDOrder])
REFERENCES [dbo].[Orders] ([IDOrder])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([MaLK])
REFERENCES [dbo].[LinhKien] ([MaLK])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CodeCus])
REFERENCES [dbo].[Customer] ([CodeCus])
GO
