
@{
    ViewBag.Title = "Shopping_Success";
}



<body style="text-align: center">
    <h2>Shopping Successful</h2>
    <h4>Đơn hàng của bạn đã được xác nhận. Đơn hàng sẽ được chuyển đến bạn trong 2-3 ngày. Hẹn gặp lại !!!</h4>
    <a class ="btn btn-success" href="@Url.Action("Index","LinhKiens")">Tiếp tục mua sắm ....</a>
</body>